/* Стили для кнопки-гамбургера */
.hamburger {
    display: flex;
padding: 0;
margin: 0;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Скрытое меню, которое появляется при открытии */

/* Скрытое меню с начальной высотой 0 и переходом */
.menu {
    display: flex;
    flex-direction: column;


    background-color: var(--background-color);
    padding: 10px;
    border-radius: 5px;

}

.menu div{
    display: flex;
    align-items: center;
}
