.scheduleContent {
    width: 85vw;
}

#groupInput {
    box-shadow: 3px 3px #000000;
    background-color: gray;

    height: 32px;
    width: 100%;

    margin-bottom: 10px;
}

#groupInput::placeholder {
    color: rgb(200, 200, 200);
}

.inputBlock {
    display: flex;
}

.groupButton {
    box-shadow: 3px 3px #000000;
    background-color: gray;

    height: 35px;

    margin-left: 5px;
    margin-bottom: 10px;
}

.groupButton:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: #999797;
}

.groupButton:active {
    box-shadow: none;
    border: none;
}

.schedule {
    box-shadow: 3px 3px #000000;
    background-color: gray;
}

.weeks {
    display: flex;
    margin-bottom: 10px;

    background-color: gray;
    box-shadow: 3px 3px #000000;
}

.week {
    margin: 5px;
}

.week:hover {
    cursor: pointer;
    background-color: #555555;
    border-radius: 5px;
}

.weekActive {
    background-color: #4c4c4c;
    border-radius: 5px;
}

.currentWeek {
    color: #58e870;
}

.row {
    display: flex;

    margin-right: 5px;
    margin-left: 5px;

    border-bottom: 2px dashed;
}

.rowGlow {
    margin-top: 3px;

    box-shadow: #21059e 0px 0px 2px 2px;
    border-radius: 5px;
}

.row:last-child {
    border: none;
    margin-bottom: 4px;
}

.cell {
    display: flex;
    align-items: center;

    width: 15%;
    margin: 5px;

    border-right: 2px dashed;
}

.cell:last-child {
    border: none;
}

.cell:first-child {
    width: 6%;
}

.groupBlock {
    margin-bottom: 10px;
    margin-left: 5px;

    max-height: 200px;
    overflow-y: scroll;

    border-radius: 5px;
}

.groupBlock::-webkit-scrollbar {
    width: 12px;
    color: aliceblue;
    border-radius: 5px;
}

.groupBlock::-webkit-scrollbar-thumb {
    background-color: #1e1e1e;
    border-radius: 5px;
}

.group:hover {
    cursor: pointer;
    background-color: #1e1e1e;
    border-radius: 5px;
}

.group:active {
    color: #5742b5;
}

.actruLink {
    color: #58e870;
    text-decoration: none;
}

.actruLink:hover {
    text-decoration: underline;
}

.vpks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;

    background-color: gray;
    box-shadow: 3px 3px #000000;
}

.vpk::after {
    content: ",";
}

.actruLink:hover {
    text-decoration: underline;
}