@media screen and (max-width: 1000px) {
    .scheduleContent {
        width: 100% !important;
    }

    .cell {
        padding: 1px !important;
        word-break: break-all;
        border-right: 1px dashed !important;
    }

    .row {
        border-bottom: 1px dashed !important;
    }

    .sheduleText {
        font-size: 10px !important;
    }

    .text {
        font-size: 15px !important;
    }

    .content {
        display: block;
    }
}

:root {
    --contrast-color: #00ff2a;
    --main-color: #808080;
    --background-color: #4b4b4b;
    --text-color: #f0f8ff;
    --transparent-text-color: rgb(from var(--text-color) r g b / .5);
    --transparent-contrast-color: rgb(from var(--contrast-color) r g b / .4);
    --transparent-main-color: rgb(from var(--main-color) r g b / .4);
}

.scheduleContent {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

#groupInput {
    background-color: var(--main-color);

    width: 100%;
}

#groupInput::placeholder {
    color: var(--transparent-text-color);
}

.colorChoise {
    background-color: var(--main-color);

    width: 100%;
}

.inputBlock {
    display: flex;
    margin-bottom: 7px;
    padding-top: 1px;
}

.groupButton {
    display: flex;
    align-items: center;
    background-color: var(--main-color);

    margin-left: 5px;
}

.groupButton:hover {
    background-color: var(--transparent-main-color);
    cursor: pointer;
}

.groupButton:active {
    border: var(--main-color) solid 1px;
}

.schedule {
    background-color: var(--main-color);

    margin-bottom: 2px;
}

.weeks {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 7px;
    background-color: var(--main-color);
}

.week {
    margin: 3px 0px 3px 5px;
}

.week:hover {
    cursor: pointer;
    background-color: var(--transparent-contrast-color);
    border-radius: 5px;
}

.weekActive {
    background-color: var(--transparent-contrast-color);
    border-radius: 5px;
}

.currentWeek {
    color: var(--contrast-color);
}

.row {
    display: flex;

    margin-right: 5px;
    margin-left: 5px;

    border-bottom: 2px dashed;
}

.rowGlow {
    margin-top: 3px;

    box-shadow: var(--contrast-color) 0px 0px 2px 2px;
    border-radius: 5px;
}

.row:first-child {
    margin-top: 5px;
}

.row:last-child {
    border: none !important;
    margin-bottom: 5px;
}

.cell {
    display: flex;
    align-items: center;

    width: calc(94% / 6);
    padding: 5px;

    border-right: 2px dashed;
}

.cell:last-child {
    border: none !important;
}

.cell:first-child {
    width: 6%;
}

.groupBlock {
    margin-bottom: 10px;
    margin-left: 5px;

    max-height: 200px;
    overflow-y: scroll;

    border-radius: 5px;
}

.groupBlock::-webkit-scrollbar {
    width: 12px;
    color: var(--main-color);
    border-radius: 5px;
}

.groupBlock::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 5px;
}

.group:hover {
    cursor: pointer;
    background-color: var(--transparent-contrast-color);
    border-radius: 5px;
}

.group:active {
    color: var(--contrast-color);
}

.actruLink {
    color: var(--contrast-color);
    text-decoration: none;
}

.actruLink:hover {
    text-decoration: underline;
}

.vpks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;

    background-color: var(--main-color);
}

.vpk::after {
    content: ",";
}

.actruLink:hover {
    text-decoration: underline;
}

input[type="color"] {
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
}


input[type="checkbox"] {
    accent-color: var(--contrast-color);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

label {
    cursor: pointer;
}

.resetButton {
    border: none;
    background: none;
    cursor: pointer;
}

.resetButton:active {
    background-color: var(--transparent-contrast-color);
    border-radius: 5px;
}
